body {
	background-color: #ffffff;
}

body .login-view {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	height: 100%;

	background-color: #0090c2;
}

.a-white a:link, .a-white a:active, .a-white a:visited {
	color: #ffffff;
	text-decoration: none;
}
form.login {
	padding-top: 100px;
}

.navbar {
	display: none;
}

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	height: 100%;
	width: 200px;
	z-index:1;
	overflow: hidden;
	padding-top: 20px;

	background-color: #0090c2;
	color: #ffffff;
}

.sidebar .fa-times {
	display: none;
}

.sidebar ul {
	list-style-type: none;
	font-size: 18px;
}

.sidebar .bottom {
	position: absolute;
	bottom: 20px;
}

@media screen and (max-width: 767px) {

	.navbar {
		display: block;
	}

	.sidebar {
		width: 0;
		-webkit-transition: width 1ms;
		-moz-transition: width 1ms;
		-ms-transition: width 1ms;
		-o-transition: width 1ms;
		transition: width 1ms;
	}

	.sidebar .fa-times {
		display: block;
	}
}