body {
	position: absolute;
	background-color: #ffffff;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

body .login-view {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	height: 100%;

	background-color: #0090c2;
}

.a-white a:link, .a-white a:active, .a-white a:visited {
	color: #ffffff;
	text-decoration: none;
}

.full-height {
	position: absolute;
	width: 100%;
	min-height: 100%;
}

form.login {
	padding-top: 100px;
}

.navbar {
	display: none;
}

.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	height: 100%;
	width: 200px;
	z-index:1;
	overflow: hidden;
	padding-top: 20px;

	background-color: #0090c2;
	color: #ffffff;
}

.sidebar .fa-times {
	display: none;
}

.sidebar ul {
	list-style-type: none;
	font-size: 18px;
}

.sidebar .bottom {
	position: absolute;
	bottom: 20px;
}

.main-view {
	background-color: #e8e8e8;
	padding-left: 200px;
}

.room {
	width: 247px;
	background-color: white;
	margin: 15px 0 0 15px;
	padding: 15px 15px 0 15px;
	border-radius: 8px;
}

.label {
	position: relative;
	display: inline-block;
	padding: 5px 0;
	font-size: 20px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	position: relative;
	float: right;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

@media screen and (max-width: 767px) {

	.navbar {
		position: fixed;
		padding: 13px 0 0 17px;
		display: block;
	}

	.sidebar {
		width: 0;
		-webkit-transition: width 1ms;
		-moz-transition: width 1ms;
		-ms-transition: width 1ms;
		-o-transition: width 1ms;
		transition: width 1ms;
	}

	.sidebar .fa-times {
		display: block;
	}

	.main-view {
		z-index: -1;
		top: 0;
		padding: 0 0 15px 0;
	}

	.main-view h1 {
		position: fixed;
		padding-left: 50px;
		background-color: #e8e8e8;
		display: block;
		width: 100%;
		z-index: 1;
	}

	.space {
		padding-top: 45px;
	}

	.room {
		width: 100%;
		background-color: white;
		margin-left: 0;
		padding: 15px 15px 0 15px;
		border-radius: 8px;
	}
}