body{
    background-image: url("../media/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
}

.log{
    border: none;
    border-bottom: 2px solid #ccc;
    display: block;
    margin: 30px;
    width: 80%;
    padding: 12px 20px;
    border-radius: 10px;
    outline: none;
}

html, body {
    height: 100%;
    margin: 0;
}

.main {
    margin-left: 10%;
    width: 30%;
    opacity: 1.0;
    opacity: 1.0;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.button {
    border: none;
    background-color: #d8a62b;
    border-bottom: 2px solid #c09010;
    width: 20%;
    height: 30px;
    border-radius: 20px;
    outline: none;
}

.button:hover{
    border-color: #b08000;
}

.button:active{
    border-bottom: none;
    border-top: #b08000 solid 2px;
}

.in {
    padding: 10%;

}
.log:hover{
    border-color: #aaa;
}

.log:active{
    border-bottom: none;
    border-top: 2px solid #aaa;
}

input{

}