.log{
    max-width: 20%;
    background-color: #fff;
    margin-left: 10%;
    margin-top: 10%;
    padding: 1% 2%;
    overflow: auto;
}

.text{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    display: block;
    margin-bottom: 10%;
    width: 100%;
}

.but{
    background-color: #009fc6;
    border: none;
    color: white;
    width: 70%;
    border-bottom: 2px solid #0090c2;
}

.but:hover{
background-color: #32a3cd;
}

.but:active{
outline: none;
border-bottom: none;
margin-top: 2px;
}

.right{
    float: right;
}

.text:active{
    border-bottom: 1px solid #a8a8a8;
}



html, body{
    font-family: Corbel;
    margin: 0;
}

.defaultBg{
    background-color: #009fc6;
}

.icon{
    width: 25px;
    height: 25px;
}

.settings:hover{
    transform: rotate(90deg);
}

.right{
    float: right;
}

.bottomContainer{
    width: 60%;
    padding: 10%;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.gray{
    background-color: #e8e8e8;
}

.config{
    color: white;
}
