.log{
    max-width: 20%;
    background-color: #fff;
    margin-left: 10%;
    margin-top: 10%;
    padding: 1% 2%;
    overflow: auto;
}

.text{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    display: block;
    margin-bottom: 10%;
    width: 100%;
}

.but{
    background-color: #009fc6;
    border: none;
    color: white;
    width: 70%;
    padding: 1%;
    border-bottom: 2px solid #0090c2;
}

.but:hover{
    background-color: #32a3cd;
}

.but:active{
    outline: none;
    border-bottom: none;
    margin-top: 2px;
}

.right{
    float: right;
}

.text:active{
    border-bottom: 1px solid #a8a8a8;
}



html, body{
    font-family: Corbel;
    margin: 0;
}

.defaultBg{
    background-color: #009fc6;
}

nav{
    position: fixed;
    height: 100%;
    overflow: auto;
    min-width: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
}

li a {
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover ~ li a{
    color: #e8e8e8;
}

.settings{
    width: 25px;
    height: 25px;
}

.settings:hover{
    animation:spin 1s linear;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }