<div ng-controller="repeat">
<div class="menuSettings" ng-repeat="room in rooms">
    <div id="id" class="menu" onclick="hideContent()">
        <label id="roomTitle" class="textDesc">
            {{room.name}}
        </label>
        <label id="roomTemperature" class="textTemp">
            {{room.temp}} °C
        </label>
    </div>
    <div id="aulaSettings" class="aulaSettings">
        <div class="checkBoxSlider" ng-repeat="light in lights">
            <label class="label">
                Luce {{light.desc}}
            </label>
            <label class="switch">
                <input type="checkbox" >
                <span class="slider round"></span>
            </label>
            <!-- Slider per sviluppi futuri
            <div class="divSliderBar">
                <input type="range" min="1" max="100" value="50" class="sliderBar" id="myRange">
            </div>-->
        </div>
        <!-- Beamer e tende per sviluppi futuri
        <div class="checkBoxSlider">
            <label class="label">
                Beamer
            </label>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>
        <div class="checkBoxSlider">
            <label class="label">
                Tende
            </label>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        </div>-->
    </div>
</div>
</div>