<div class="room pull-left">
	<h4>
		{{ room.name }}
		<span class="pull-right">{{ room.temp }}°C</span>
	</h4>
	
	<script>
		function toggleLight(light) {
			$.getJSON("controller/light", {light: light, toggle: 'toggle'});
		}
	</script>
	
	<div ng-repeat="light in room.lights">
		<div class="light checkBoxSlider">
			<label class="label">
				{{light.name}}
			</label>
			<label class="switch">
				<input type="checkbox" ng-checked="light.on" value="{{light.id}}" onclick="toggleLight($(this).val())">
				<span class="slider round"></span>
			</label>
		</div>
	</div>
</div>